.wd-margin {
    margin-bottom: 20px;
}

.wd-banner{
    width: 100%;
    height: 260px;
}

.wd-profile-picture {
    position: absolute;
    left: 45px;
    bottom: -5%;
    width: 150px;
    height: 150px;
}

.wd-border {
    border-color: grey;
}
body {
    font-family:  Helvetica Neuel serif;
    font-size: 14px;
}