body {
    background-color: white;
    font-family:  Helvetica Neuel serif;
    font-size: 14px;
}
.wd-picture {
    height: 45px;
    width: 45px;
}

#retweet, #like, #share, #reply, #reply-text, #retweet-text, #like-text {
    border-color: grey;
    color: grey;
}

#checkmark {
    color: #0d6efd;

}