body {
    font-size: 14px;
    margin-left: 16px;
    font-family:  Helvetica Neuel serif;
    margin-top: 16px;

}

.row {
    display: flex;
}


#navigation {
    width: 100%;

}

#tabs {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
    float: right;

}

.wd-search-bar {
    padding: 16px;
}

#gear {
    font-size: 25px;
    float:right;
    color: rgb(29,161,242);
}

#starship{
    margin-left: 16px;
    height: 400px;
    width: 95%;

}

#search-bar {
    border-radius: 25px;
    border: 1px solid rgb(47, 51, 54);
    padding: 16px;
    width: 90%;
    height: 0;
    font-size: 13px;
    margin-bottom: 8px;

}

#java, #relativity-space, #virgin-galactic, #nasa, #tesla {
    vertical-align: middle;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 16px;
    float: left;
}

#bottom-left {
    font-family: Arial, serif;
    position: absolute;
    bottom: 430px;
    color: white;
    left: 670px;
}

#caption{
    color: white;
}

#reactjs, #javascript, #jquery, #nodejs{
    float: right;
    border-radius: 25px;
    margin-left: 16px;
    height: 85px;
    width: 85px;

}

#who-to-follow {
    display: flex;


}
.button {
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 5px 13px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 12px;
    float: right;
    margin-top: 3px;
    vertical-align: center;

}

#tweets {
    margin-left: 16px;
    margin-right: 16px;

}

@media (max-width: 1350px) {
    #recommended, #entertainment, #house{
        display: none;
    }

}
@media (width: 1300px) {
    col.sm-1 {
        column-width: 10px;
    }

}
@media (min-width: 760px) and (max-width: 1050px) {
    #sports, #news, #gear {
        display: none;
    }
}
