body {
    background: black;
    margin-left: 16px;
    font-family: Arial, serif;
}
div {
    margin-left: 16px;
    width: 570px;
    border: thin solid rgb(47, 51, 54);
    padding: 16px;
}

/* Requirement A */
.wd-search-bar {
    padding: 16px;
}
#gear {
    font-size: 25px;
    float: right;
    margin-right: 12px;
    color: rgb(29,161,242);
}
/* used this website: https://community.hubspot.com/t5/CMS-Development/Magnifying-glass-icon-in-search-bar/m-p/338441
for getting the magnifying glass inside the search bar */
#search-bar {

    border-radius: 25px;
    border: 2px solid rgb(47, 51, 54);
    background-color: rgb(47, 51, 54);
    margin-left: 16px;
    padding: 12px;
    color: white;
    width: 455px;
    height: 0px;
    background-image: url("magnifying-glass.png");
    background-repeat: no-repeat;
    background-position: 15px 6px;
    font-size: 13px;

    background-size: 13px;
}

#divider {
    border-color: rgb(47, 51, 54);
    background-color: rgb(15,15,15);
    width:595px;
    height:0px;
    padding: 4px;
}
/* Requirement B */
a:link {
    padding: 16px;
    color: rgb(110, 118, 125);
    font-size: 15px;
    text-decoration: none;
}

#highlight {
    float:left;
    padding-left: 16px;
    color:rgb(29,161,242);
}
.rectangle {
    padding: 5px;
    width: 593px;
    background-color: black;
    border: solid rgb(47, 51, 54);
}

/* Requirement C, D, E*/

#dots1, #dots2{

    float: right;
    font-size: 13px;

}
b {
    color: white;
}

h3 {
    line-height: 0;
    color: white;
}
.wd-trending {

    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-official {

    padding-bottom: 65px;
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-live {

    padding-bottom: 65px;
    font-size: 13px;
    color: rgb(110, 118, 125);

}

#senate, #yoda {
    vertical-align: middle;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
#darth-vader, #jedi-temple, #order-66, #grevious {
    float: right;
    margin-right: 16px;
    border-radius: 25px;
    height: 100px;
    width: 100px;

}

