.col-3{
    text-decoration: none;
}

.wd-profile-picture{
    height:52px;
    width:52px;
}

#heart, #retweet, #comment {
    text-decoration: none;
}
b {
    color: #0d6efd;
    margin-left: 5px;
}
#main {
    font-size: 14px;

    font-family:  Helvetica Neuel serif;


}
#img {

    border-radius: 2em;

}

#dots {
    float: right;
}
a:link {
    text-decoration: none;
}

#paragraph {
    margin-left: 5px;

}
#articleTitle {
    margin-left: 5px;
    color: black;
}