body {
    font-size: 14px;
    margin-left: 16px;
    font-family:  Helvetica Neuel serif;
    margin-top: 16px;

}

.row {
    display: flex;
}


#navigation {
    width: 100%;

}

#tabs {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
    float: right;


}
#java, #relativity-space, #virgin-galactic, #nasa, #tesl, #userPicture {
    vertical-align: middle;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 16px;
    float: left;
}


#bottom-left {
    font-family: Arial, serif;
    position: absolute;
    font-size: 28px;
    color: white;

    bottom: 0;
    left: 4%;
    right: 0;
    top: 88%;
}
#postSummaryItems {
    font-size: 14px;
    font-family:  Helvetica Neuel serif;

}

#caption{
    color: white;
}

#postSummaryImages{
    float: right;
    border-radius: 10px;
    margin-left: 16px;
    height: 40px;
    width: 40px;
}

#who-to-follow {
    display: flex;

}

#home-text, #explore-text, #notifications-text, #messages-text, #bookmark-text,
#lists-text, #profile-text, #more-text {
    font-weight: normal;
}
@media (max-width: 1500px) {
    #home-text, #explore-text, #notifications-text, #messages-text, #bookmark-text,
    #lists-text, #profile-text, #more-text {
        display: none;
    }
}
#comment, #retweet, #like, #article-text, #website{
    font-weight: normal;
    font-size: 14px;
    font-family:  Helvetica Neuel serif;
    color: #444444;
}
#comment-shape, #retweet-shape, #heart-shape, #share-shape, #link {
    color: #444444;
}

#articleImage {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    border: 1px solid #444444;

}
#border {
   border-radius: 25px;
    padding: 8px;
    border: 1px solid #444444;
}
